{1:F01{{.SenderBIC}}XXXX0000000000}
{2:I202{{.ReceiverBIC}}XXXXN}
{4:
:20:{{.TransactionReference}}
:21:{{.RelatedReference}}
:32A:{{.ValueDate}}{{.Currency}}{{.Amount}}
:52A:{{.OrderingInstitution}}
:53A:{{.SenderCorrespondent}}
:54A:{{.ReceiverCorrespondent}}
:56A:{{.Intermediary}}
:57A:{{.AccountWithInstitution}}
:58A:{{.BeneficiaryInstitution}}
-} 