{1:F01{{.SenderBIC}}XXXX0000000000}
{2:I900{{.ReceiverBIC}}XXXXN}
{4:
:20:{{.TransactionReference}}
:25:{{.AccountID}}
:28C:{{.StatementNumber}}
:60F:{{.OpeningBalance}}
:61:{{.StatementLine}}
:86:{{.InformationToAccountOwner}}
-} 